@model IOrderedEnumerable<IGrouping<int,EasterEggViewModel>>

@{
    ViewData["Title"] = "Easter Eggs";
}

<div class="container">
    @await Html.PartialAsync("_GameNavigationPartial", Model)


    @foreach (var eggGroup in Model)
    {
        @foreach (var egg in eggGroup)
        {
            <div class="row egg-container" data-game-id="@eggGroup.Key">
                <div class="card mb-5">
                    <div class="card-content">
                        <div class="card-images">
                            @if (string.IsNullOrEmpty(egg.ImageUrlTwo))
                            {
                                <a href="@egg.ImageUrlOne" target="_blank">
                                    <img class="card-img single-image" src="@egg.ImageUrlOne" alt="Card image cap">
                                </a>
                            }
                            else
                            {
                                <a href="@egg.ImageUrlOne" target="_blank">
                                    <img class="card-img double-image" src="@egg.ImageUrlOne" alt="Card image cap">
                                </a>
                                <a href="@egg.ImageUrlTwo" target="_blank">
                                    <img class="card-img double-image" src="@egg.ImageUrlTwo" alt="Card image cap">
                                </a>
                            }
                        </div>
                        <div class="card-body">
                            <h4>@egg.Name</h4>
                            <h6 class="mb-2 text-muted">@egg.GameName</h6>
                            <p>@egg.Description</p>
                            <span class="card-buttons">
                                <a asp-controller="EasterEgg" asp-action="Edit" asp-route-id="@egg.Id" class="btn btn-outline-warning">Edit</a>
                                <form method="post" asp-controller="EasterEgg" asp-action="Delete" asp-route-id="@egg.Id">
                                    <input type="submit" value="Delete" class="btn btn-outline-danger">
                                </form>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    }



    <div class="card-button-new">
        <a asp-controller="EasterEgg" asp-action="Add" class="btn btn-outline-success">Add New Easter Egg</a>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var radioButtons = document.querySelectorAll('.btn-check');

        // Show all Easter eggs for the first game when the page is loaded
        var firstGameId = '@Model.First().Key';
        var firstEggContainer = document.querySelectorAll('.egg-container[data-game-id="' + firstGameId + '"]');
        firstEggContainer.forEach(function (egg) {
            egg.style.display = 'block';
        });

        radioButtons.forEach(function (radio) {
            radio.addEventListener('change', function () {
                var gameId = this.getAttribute('data-game-id');
                var eggs = document.querySelectorAll('.egg-container');

                // Hide all Easter eggs
                eggs.forEach(function (egg) {
                    egg.style.display = 'none';
                });

                // Show Easter eggs for the selected game
                var selectedEggContainer = document.querySelectorAll('.egg-container[data-game-id="' + gameId + '"]');
                selectedEggContainer.forEach(function (egg) {
                    egg.style.display = 'block';
                });
            });
        });
    });
</script>

<style>
    .egg-container {
        display: none;
    }
    
    .card-content {
        display: flex;
        align-items: center; /* Optional: Align items vertically */
    }

    .card-images {
        flex: 0 0 auto; /* This ensures the width is determined by the content */
        margin-right: 10px; /* Optional: Adjust spacing between card-images and card-body */
    }

    .card-img {
        width: 100%; /* Ensure images fill the available width */
        height: auto; /* Maintain aspect ratio */
    }

    .single-image {
        max-width: 400px; /* Max width for a single image */
    }

    .double-image {
        max-width: 200px; /* Max width for each image when there are two images */
    }

    .card-buttons {
        float: right;
    }

</style>
